/*Common Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utility Settings*/
.container {
    margin:auto;
    width: 80%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pad {
    padding: 25px;
}

.pad-left {
    padding-right: 125px;
}

.col-3 {
    width: calc(100 / 12 * 3);
}

.col-4 {
    width: calc(100 / 12 *4);
}

.col-6 {
    width: calc(100 / 12 * 6);

}

.col-9 {
    width: calc(100 / 12 * 9);

}

body {
    font-family: 'Montserrat', sans-serif;
}

/*Header*/
.main-header  {
    background-color: #FF6900;
    
}

.fixed {
    width: 100%;
    position: fixed;
    padding: 20px;
    top: 0;
    
}

.main-menu a {
    color: white;
    display: inline-block;
    padding: 7px 7px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#boolean-logo {
    width: 100px;
    
}

.white {
    color: #FFFFFF;
}

.social {
    padding-left: 10px;
}

/*Main*/
#img-thumb {
    width: 350px;
}

.pad-main {
    padding: 50px;
}

.info {
    position: absolute;

}

.percent {
    position: relative;
    padding: 5px;
    top: -50px;
    height: 30px;
    width: 50px;
    color: white;
    text-align: center;
}

.sostenibility {
    position: absolute;
    padding: 5px;
    top: -50px;
    left: 55px;
    height: 30px;
    width: 130px;
    color: white;
    text-align: center;
    
}

.sostenibility-alone {
    position: absolute;
    padding: 5px;
    top: -50px;
    left: 0px;
    height: 30px;
    width: 130px;
    color: white;
    text-align: center;
    
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.heart {
    background-color: white;
    width: 35px;
    position: absolute;
    top: -500px;
    left: 315px;
    text-align: center;
}

.product-info {
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
}

.product-name {
    font-size: 15px;
}

.price {
    color: red;
    font-size: 13px;
}

.offer {
    color:black;
    text-decoration:line-through
}

.marg {
    margin-top: -65px;
}

/*Footer*/
.main-footer {
    background-color: black;
    color: white;
    padding: 30px;
    margin:auto;
}

.copyright {
    font-size: 15px;
    text-align: left;
}

.social-icons {
    padding-top: 10px;
}

.footer-policy a {
    color: white;
    font-size: 13px;
    text-align: left;
}

.align {
    text-align: left;
}

.find-us {
    font-size: 16px;
}

.vert-align {
    vertical-align: middle;
}

.pad-top {
    padding-top: 7px;
}